.side-bar
  .header
    .header__box
      .header__box__name
        =current_user.name
      %ul.header__box__menu
        %li.header__box__menu__new-group
          = link_to "#", class: "new-group__btn" do
            = icon('far', 'edit')
          
        %li.header__box__menu__edit-user
          = link_to edit_user_path(current_user), class: "edit-user__btn" do
            = icon('fas', 'cog')         



  .groups
    .group
      .group__name
        test
      .group__message
        まだメッセージがありません
      .group__name
        test2
      .group__message
        まだメッセージがありません
      .group__name
        test3
      .group__message
        まだメッセージがありません